practice/*
tapl-haskell-0.1/*
oopsla24-artifact/*
dist-newstyle/*
Literature/*
extra/*
src/Addition.hs
src/FullIsorec/*
.vscode/*
proofs/core/*.aux
proofs/core/*.glob
# proofs/core/*.mk
src/ENVCAP/Parser/Interface/ParseInterface.info
src/ENVCAP/Parser/Interface/ParseInterface.hs
src/ENVCAP/Parser/Implementation/ParseImp.info
src/ENVCAP/Parser/Implementation/ParseImp.hs
proofs/*.mk.d
proofs/*.vos
proofs/*.vo
proofs/*.vok
proofs/*.v.crashcoqide
proofs/*.cache
proofs/*.aux
proofs/*.d
proofs/*.glob
proofs/Makefile
proofs/Makefile.conf
src/ENVCAP/Parser/Happy.info
.vscode/*