.features {
  padding: 2rem 0;
}

.contributorList {
  margin-top: 2rem;
  text-align: center;
}

.contributor {
  margin: 1rem 0;
}

.contributor ul {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0;
}

.contributor a {
  color: var(--ifm-link-color);
  text-decoration: var(--ifm-link-decoration);
  transition: var(--ifm-link-transition);
}

.contributor a:hover {
  color: var(--ifm-link-hover-color);
  text-decoration: var(--ifm-link-hover-decoration);
}